# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\mcr99\OneDrive\Escritorio\UDL\3 GEI\2 Semestre\Web project\Laboratory\Client web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
